language: python
python:
  - "3.2"
  - "3.3"
  - "3.4"
  - "3.5.0b3"
  # - "3.5-dev"
  - "nightly"

# command to install dependencies
install:
  - pip install .
  - pip install -r requirements.txt
script: py.test
